<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Productos de la Nación</title>
    <meta name="description" content="Plataforma de definición y seguimiento de productos.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      i.material-icons {
        vertical-align: middle;
      }
      .btn i.material-icons {
        font-size: 1.3em;
      }
      .navbar .flag {
        font-size: 1.6em;
        vertical-align: -5px;
      }
    </style>
  </head>
  <body>

    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark bd-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand">
          <template v-if="settings.appname">{{ settings.appname }}</template>
          <template v-else>Merval</template>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <a class="nav-link">|</a>
            </li> -->

            <li is="app-menu" v-for="(page, name) in config.pages" v-bind:page="page" v-bind:name="name" v-bind:config="config"></li>
          </ul>
        </div>
        <div class="text-muted d-none d-sm-block text-right" style="min-width: 100px">Made in <span class="flag">🇦🇷</span><span class="sr-only">Argentina</span></div>
      </nav>

      <template v-if="config.show == 'settings'">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="card my-5">
              <div class="card-header">
                Configuración
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="name">Nombre para mostrar</label>
                    <input type="text" class="form-control" id="name" v-model="settings.appname" placeholder="Merval">
                    <small id="serverHelp" class="form-text text-muted">El nombre que quieras ver arriba. Si no ponés nada, uso el mío.</small>
                  </div>
                  <div class="form-group">
                    <label for="server">Servidor</label>
                    <input type="text" class="form-control" id="server" aria-describedby="serverHelp" v-model="settings.server">
                    <small id="serverHelp" class="form-text text-muted">URL de la API para guardar los datos.</small>
                  </div>
                  <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" v-model="settings.username">
                    <small id="usernameHelp" class="form-text text-muted">Usuario de la API.</small>
                  </div>
                  <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" v-model="settings.password">
                    <small id="passwordHelp" class="form-text text-muted">Contraseña de la API.</small>
                  </div>
                  <button class="btn btn-success" v-on:click.prevent="saveConfig">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </template>

      <template v-if="config.show == 'home'">
        <template v-if="config.error.show">
          <div class="container">
            <div class="row justify-content-md-center my-5">
              <div class="col-12 col-md-8">
                <div class="alert alert-warning" role="alert">
                  <h3 class="alert-heading">{{ config.error.title }}</h3>
                  <div v-html="marked(config.error.text)"></div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <div v-else class="container-fluid p-t-3">
          <div class="row">
            <div class="col-12 col-sm-4 col-lg-3 bg-light" style="min-height: calc(100vh - 56px);">
              <ul class="nav nav-pills flex-column py-3">
                <li><a href="#" class="btn btn-success btn-block mb-3" v-on:click.prevent="addProduct">Agregar producto</a></li>
                <li is="product-menu" v-for="product in products" v-bind:product="product" v-bind:config="config"></li>
              </ul>
            </div>
            <div class="col">
              <template v-if="selected.product">
                <div class="row">
                  <div class="col px-4 pt-2 pb-5">

                    <div class="row align-items-center pt-4">
                      <div class="col">
                        <h2 class="h3">
                          <editable v-if="config.editable" :content="product.name" v-on:update="product.name = $event"></editable>
                          <span v-else>{{ product.name }}</span>
                        </h2>
                      </div>
                      <div class="col col-sm-auto">
                        <a href="#" v-bind:class="{ 'text-muted': config.editable, 'text-success': !config.editable }" v-on:click.prevent="toggleEdit"><i class="material-icons">mode_edit</i></a>
                      </div>
                    </div>

                    <hr class="mb-4">

                    <p class="lead text-muted mb-0">Usuarios</p>
                    <editable v-if="config.editable" :content="product.info.users" v-on:update="product.info.users = $event"></editable>
                    <span v-else v-html="marked(product.info.users)"></span>

                    <hr class="my-4">

                    <p class="lead text-muted mb-0">Necesidad</p>
                    <editable v-if="config.editable" :content="product.info.need" v-on:update="product.info.need = $event"></editable>
                    <span v-else v-html="marked(product.info.need)"></span>

                    <hr class="my-4">

                    <p class="lead text-muted mb-0">Objetivo</p>
                    <editable v-if="config.editable" :content="product.info.objetive" v-on:update="product.info.objetive = $event"></editable>
                    <span v-else v-html="marked(product.info.objetive)"></span>

                    <hr class="my-4">

                    <p class="lead text-muted mb-0">KPIs</p>
                    <div v-for="(kpi, index) in product.info.kpis">
                      <div v-if="config.editable" class="row no-gutters mb-3">
                        <div class="col col-auto pr-2">
                          <a href="#" v-on:click.prevent="removeKpi(index)" class="text-danger"><i class="material-icons">delete</i></a>
                        </div>
                        <div class="col">
                          <editable :content="kpi" v-on:update="product.info.kpis[index] = $event"></editable>
                        </div>
                      </div>
                      <span v-else v-html="marked(kpi)"></span>
                    </div>
                    <p v-if="config.editable"><a href="#" class="btn btn-success btn-sm" v-on:click.prevent="addKpi">Agregar kpi</a></p>

                    <hr class="my-4">

                    <p class="lead text-muted mb-0">Comunicación</p>
                    <editable v-if="config.editable" :content="product.info.message" v-on:update="product.info.message = $event"></editable>
                    <span v-else v-html="marked(product.info.message)"></span>

                    <hr class="my-4">

                    <p class="lead text-muted mb-0">Dependencias</p>
                    <editable v-if="config.editable" :content="product.info.dependencies" v-on:update="product.info.dependencies = $event"></editable>
                    <span v-else v-html="marked(product.info.dependencies)"></span>

                    <hr class="my-4">

                    <p class="lead text-muted mb-0">Experiencia anterior</p>
                    <editable v-if="config.editable" :content="product.experience.initial" v-on:update="product.experience.initial = $event"></editable>
                    <span v-else v-html="marked(product.experience.initial)"></span>

                    <hr class="my-4">

                    <p class="lead text-muted mb-0">Experiencia ideal</p>
                    <editable v-if="config.editable" :content="product.experience.expected" v-on:update="product.experience.expected = $event"></editable>
                    <span v-else v-html="marked(product.experience.expected)"></span>

                    <hr class="my-4">
                    
                    <p class="lead text-muted">Historias de usuario</p>

                    <p>
                      <div is="platform-menu" v-for="(platform, index) in product.platforms" v-bind:platform="platform" v-bind:index="index" v-bind:config="config"> </div>
                      <a v-if="config.editable" href="#" class="btn btn-success btn-sm mb-1" v-on:click.prevent="addPlatform">+ plataforma</a>
                    </p>

                    <ul class="nav nav-pills mb-4">
                      <div is="version-menu" v-for="(version, index) in platform.versions" v-bind:version="version"  v-bind:index="index" v-bind:config="config"> </div>
                      <a v-if="config.editable" href="#" class="btn btn-success btn-sm mb-1" v-on:click.prevent="addVersion">+ versión</a>
                    </ul>

                    <div v-for="(story, index) in version.stories">
                      <div v-if="config.editable" class="row no-gutters mb-3">
                        <div class="col col-auto pr-2">
                          <a href="#" v-on:click.prevent="removeStory(index)" class="text-danger"><i class="material-icons">delete</i></a>
                        </div>
                        <div class="col">
                          <editable :content="story.text" v-on:update="version.stories[index].text = $event"></editable>
                        </div>
                      </div>
                      <span v-else v-html="marked(story.text)"></span>
                    </div>
                    <p v-if="config.editable"><a href="#" class="btn btn-success btn-sm" v-on:click.prevent="addStory">Agregar historia</a></p>

                  </div>
                  <div class="col col-sm-3 col-lg-3 pl3">
                    <h5 class="pt-3 my-3">Participantes</h5>
                    <div v-for="user in product.leaders">
                      <h6 class="mb-0">
                        <editable v-if="config.editable" :content="user.name" v-on:update="user.name = $event"></editable>
                        <span v-else>{{ user.name }}</span>
                      </h6>
                      <small>
                        <editable v-if="config.editable" :content="user.role" v-on:update="user.role = $event"></editable>
                        <span v-else>{{ user.role }}</span>
                      </small>
                      <hr>
                    </div>

                    <p v-if="config.editable"><a href="#" class="btn btn-success btn-sm" v-on:click.prevent="addLeader">Agregar</a></p>
                    <hr v-if="config.editable">

                    <h5 class="my-3">Externos</h5>
                    <div v-for="user in product.externals">
                      <div class="row no-gutters mb-3">
                        <div v-if="config.editable" class="col col-auto pr-2">
                          <a href="#" v-on:click.prevent="removeExternal(user)" class="text-danger"><i class="material-icons">delete</i></a>
                        </div>
                        <div class="col">
                          <h6 class="mb-0">
                            <editable v-if="config.editable" :content="user.name" v-on:update="user.name = $event"></editable>
                            <span v-else>{{ user.name }}</span>
                          </h6>
                          <small>
                            <editable v-if="config.editable" :content="user.position" v-on:update="user.position = $event"></editable>
                            <span v-else>{{ user.position }}</span>
                            -
                            <editable v-if="config.editable" :content="user.area" v-on:update="user.area = $event"></editable>
                            <span v-else>{{ user.area }}</span>
                          </small>
                        </div>
                      </div>
                      <hr>
                    </div>

                    <p v-if="config.editable"><a href="#" class="btn btn-success btn-sm" v-on:click.prevent="addExternal">Agregar</a></p>

                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </template>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="js/app.js"></script>
  </body>
</html>
